/*
 *= require_self
  *= require fancybox
*/

@import "bootstrap/mixins";
@import "bootstrap/variables";
@import "bootstrap/utilities";
@import "bootstrap/reset";
@import "bootstrap/buttons";
@import "bootstrap/dropdowns";
@import "bootstrap/carousel";
@import url(https://fonts.googleapis.com/css?family=Oswald:300);
@import url(http://fonts.googleapis.com/css?family=Yesteryear);


body { 
  margin: 0px;
  @include clearfix();
}

.container {
  width: 980px;
  //background: #fff;
  margin: 0px auto;
  margin-top: -70px;
  @include clearfix();
  
  #logo {
    padding: 10px 0px;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: -13px;
    span {
      margin-left: -57px;
    }
  }
  
  #header {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    @include clearfix();
    ul#nav {
      width: 50%;
      margin: 0px;
      @include clearfix();
    }
    
    #links {
      float:right;
      width: 225px;
      a {
        //float: right;
        margin-left: 112px;
      }
      ul.sub {
        li a { margin-left: 0px; }
      }
    }
  }
}

.map {
  text-align: center;
}

.content-one {
  clear: both;
  width: 100%;
  @include clearfix();
  
  .main-content {
    background: #444;
    min-height: 200px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 10px;
    @include clearfix();
  }
}

.tabsContent {
  border: 1px solid #CCC;
  border-top: 0px solid;
  width: 698px;
  overflow: hidden;
}  

#nav li { width: 120px;float: left; position: relative; list-style-type: none;}

#nav li a { display: block; padding: 5px 10px; line-height: 20px;  }

#nav li ul { display: none; position: absolute; top: 30px; left: 0; width: 120px; background: #fff; }

#nav li:hover ul { display: block; }

#nav li ul li { float: none; }

#nav li ul li a { display: inline-block; }

#nav li ul li a { display: block; }


#footer {
	padding: 10px;
	background-color: #fff;
	color: #000;
	text-align: center;
	font-size: 12px;
}

#signin-form {
  color: #000;
  a {
    color: #000 !important;
  }
}


.leftbar {
  width: 100px;
  height: 355px;
  background: white;
  position: absolute;
  top: 70px;
  left: 20px;
  border-radius: 4px;
  padding: 3px 4px;
  
  .img1, .img2, .img3 {
    margin-top: 34px;
    img {
      border-radius: 28px 28px 28px 28px;
    }
  }
  .img2 {
    img {
    
    }
  }
}


#iframebox {
background: none repeat scroll 0 0 #000;left: 50%;top: 50%;z-index: 1501;
}

#overallbgframe {
background: none repeat scroll 0 0 #fff;height: 100%;left: 0;top: 0;width: 100%;z-index: 1500;
}
