%ul#menu
  %li
    %a{:href => "#"} Home
  %li
    %a{:href => "#"} About Us
    %ul
      %li
        %a{:href => "#"} Environment
      %li
        %a{:href => "#"} Work Culture
      %li
        %a{:href => "#"} Board Members
  %li
    %a{:href => "#"} Technologies
    %ul
      %li
        %a{:href => "#"} ROR
        %ul
          %li
            %a{:href => "#"} Development
          %li
            %a{:href => "#"} Support
          %li
            %a{:href => "#"} Maintainence
      %li
        %a{:href => "#"} PHP
        %ul
          %li
            %a{:href => "#"} Development
          %li
            %a{:href => "#"} Support
          %li
            %a{:href => "#"} Maintainence
      %li
        %a{:href => "#"} Python
  %li
    %a{:href => "#"} Contact Us
