#accordion
  %h3 Section 1
  %div
    %p
      Mauris mauris ante, blandit et, ultrices a, suscipit eget
  %h3 Section 2
  %div
    %p
      Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum 
  %h3 Section 3
  %div
    %p
      Nam enim risus, molestie et, porta ac, aliquam ac, 
    %ul
      %li List item one
      %li List item two
      %li List item three
  %h3 Section 4
  %div
    %p
      Cras dictum. Pellentesque habitant morbi tristique senectus et netus
      et malesuada fames ac turpis egestas. 
      mauris vel est.
    %p
      Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
      Class aptent taciti 
