<div id="testZone">
	<ul id="list-1" class="list">
	 	<li class="header">Lorem lispum.</li>
	 	<li class="item">In blandit turpis.</li>
		<li class="item">Cras a mi at odio.</li>
		<li class="item">Vivamus egestas urna.</li>
		<li class="item">Furce gravida lectus.</li>
	</ul>
	
	<ul id="list-2" class="list">
	 	<li class="header">Lorem lispum.</li>
	 	<li class="item">In blandit turpis.</li>
		<li class="item">Cras a mi at odio.</li>
		<li class="item">Vivamus egestas urna.</li>
		<li class="item">Furce gravida lectus.</li>
	</ul>
	
	<ul id="list-3" class="list">
	 	<li class="header">Lorem lispum.</li>
	 	<li class="item">In blandit turpis.</li>
		<li class="item">Cras a mi at odio.</li>
		<li class="item">Vivamus egestas urna.</li>
		<li class="item">Furce gravida lectus.</li>
	</ul>
	
	<ul id="list-4" class="list">
	 	<li class="header">Lorem lispum.</li>
	 	<li class="item">In blandit turpis.</li>
		<li class="item">Cras a mi at odio.</li>
		<li class="item">Vivamus egestas urna.</li>
		<li class="item">Furce gravida lectus.</li>
	</ul>
</div>


<script>
	$(document).ready(function(){
		$("#testZone").slideBox({width: "100%", height: "200px", position: "top"});
	});
	</script>
