%h3 Local Address
%hr
.map
  %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.co.in/maps/ms?msa=0&msid=207662213132258852071.0004d8d11461d75904cfd&hl=en&ie=UTF8&t=m&ll=17.433149,78.440033&spn=0.003583,0.009441&z=17&output=embed", :width => "880"}
  %br/
  %small
    View
    %a{:href => "https://maps.google.co.in/maps/ms?msa=0&msid=207662213132258852071.0004d8d11461d75904cfd&hl=en&ie=UTF8&t=m&ll=17.433149,78.440033&spn=0.003583,0.009441&z=17&source=embed", :style => "color:#0000FF;text-align:left"} My Saved Places
    in a larger map
