/* @override 
	http://samuelgarneau.com/slidebox.css
	http://samuelgarneau.com/lab/validator/slidebox.css
	http://samuelgarneau.com/lab/slidebox.css
	http://samuelgarneau.com/lab/slidebox/style/slidebox.css
*/

body {
	margin: 0;
	padding: 75px 0 0;
}

.slide-panel {
	z-index: 25;
	width: 5px;
	position: absolute;
}

.bottom {
	bottom: 0;
}

.right {
}

.left {
	position: absolute;
	left: 0;
}

.top {
	top: 0;
}

.content {
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
	overflow: hidden;
	text-align: left;
	background-color: #343434;
	height: 0;
	width: 100%;
	color: #fff;
	opacity: 0.9;
}

.slide-button {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 150px;
	z-index: 20;
	cursor: pointer;
	height: 30px;
	padding-top: 10px;
	text-align: center;
}

.slide-button:hover {
	color: #9f9d8e;
}
